@use "../mixins" as mixins;

.footer {
    background-color: #323232;
    color: #FFFFFF;
    @include mixins.section-spacing;

    &__wrapper {
        @include mixins.wrapper;

        @include mixins.tablet {}

        @include mixins.desktop {}
    }

    &__main {
        @include mixins.desktop {
            display: flex;
        }
    }

    &__left {
        flex: 8;
    }

    &__right {
        flex: 2;
    }

    &__top {
        @include mixins.tablet {
            display: flex;
        }
    }

    &__title {
        @include mixins.title;

        @include mixins.tablet {
            padding-bottom: 0;
            flex: 1;

        }
    }

    &__icons {
        display: flex;
        align-items: center;

        @include mixins.tablet {
            flex: 1;
        }
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        transition: filter 250ms linear;

        &:hover {
            filter: invert(28%) sepia(26%) saturate(4032%) hue-rotate(282deg) brightness(84%) contrast(85%);
        }
    }

    &__icon-link {
        &+& {
            margin-left: 1.6rem;

            @include mixins.tablet {
                margin-left: 3.6rem;
            }
        }
    }

    &__logo {
        display: block;
        margin: 4.8rem 0 1.6rem 0;
        width: 12rem;
        height: 2rem;

        @include mixins.tablet {
            display: none;
        }

        @include mixins.desktop {
            display: flex;
            align-self: flex-end;
            margin-top: 1.5rem;
            margin-bottom: 0;
        }

        &--top {
            display: none;

            @include mixins.tablet {
                display: flex;
                padding-top: 0;
                flex: 1;
                justify-content: end;
                margin-top: 1.5rem;
                margin-bottom: 0;
            }

            @include mixins.desktop {
                visibility: hidden;
            }
        }
    }

    &__copyright {
        grid-area: copyright;
        margin-top: 2.4rem;
        @include mixins.text;

        @include mixins.tablet {
            margin-top: 4.8rem;
        }
    }
}

.employees {
    @include mixins.tablet {
        display: flex;
    }
}

.employee {
    @include mixins.tablet {
        flex: 1;
    }

    @include mixins.text;

    &__content {
        margin: 1.6rem 0;

        @include mixins.tablet {
            margin: 3.6rem 0;
        }
    }

    &__name {
        font-weight: 600;
    }

    &__position {
        font-weight: 600;
    }
}
