@use "../mixins" as mixins;

.shows {
    @include mixins.section-spacing;

    &__wrapper {
        @include mixins.wrapper;

        @include mixins.desktop {
            display: flex;

        }
    }

    &__labels {
        display: none;

        @include mixins.tablet {
            display: flex;
            padding: 1.6rem 0;
        }
    }

    &__show {
        margin-left: -1.6rem;
        margin-right: -1.6rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        border-bottom: 1px solid #E1E1E1;
        padding-bottom: 1.6rem;
        transition: background-color 250ms linear;
        cursor: pointer;

        &:hover {
            background-color: #FAFAFA;
        }

        &--selected:hover {
            background-color: #E1E1E1;
        }

        @include mixins.tablet {
            display: flex;
            padding: 2.4rem 1.8rem;
            align-items: center;
        }

        &--selected {
            background-color: #E1E1E1;
        }
    }

    &__title {
        @include mixins.title;

        @include mixins.desktop {
            width: 20%;
        }
    }

    &__schedule {
        @include mixins.desktop {
            width: 80%;
        }
    }

    &__label {

        padding-top: 1.6rem;

        &--buy {
            flex: 0 0 auto;
            visibility: hidden;
        }

        @include mixins.text-label;

        @include mixins.tablet {
            display: none;

            &--tablet {
                display: block;
                flex: 1;
            }
        }
    }

    &__text {
        @include mixins.text;

        @include mixins.tablet {
            padding-right: 1.6rem;
        }
    }

    &__text--date {
        font-weight: 600;

        @include mixins.tablet {
            flex: 1;
        }
    }

    &__text--venue {
        @include mixins.tablet {
            flex: 1;
        }
    }

    &__text--location {
        @include mixins.tablet {
            flex: 1;
        }
    }

    &__buy {
        flex: 0 0 auto;
        margin-top: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mixins.tablet {
            margin-top: 0;
        }
    }
}
