@use "mixins" as mixins;

.banner {
    background-position: center center;
    background-size: cover;
    height: 20rem;
    position: relative;
    background-image: url(../assets/images/hero-bio.jpg);

    &--shows {
        background-image: url(/assets/images/hero-shows.jpg);
        padding: 2.4rem 0 1.6rem 0;
        height: 30rem;

        @include mixins.tablet {
            padding: 4.8rem 0 3.6rem 0;
        }
    }

    @include mixins.tablet {
        height: 45rem;
    }

    @include mixins.desktop {
        height: 63rem;
        background-position: center 20%;
    }

    &::after {
        content: '';
        background-color: #323232;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        background-size: cover;
    }

    &__wrapper {
        display: flex;
        align-items: center;

        @include mixins.wrapper;

        &--shows {
            flex-direction: column;
            align-items: flex-start;

            @include mixins.desktop {
                flex-direction: row;
                align-items: center;
            }
        }
    }

    &__title {
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: 600;
        color: #FFFFFF;
        margin: 0;
        z-index: 1;

        @include mixins.tablet {
            font-size: 6rem;
            line-height: 6.8rem;
        }

        &--shows {
            width: 80%;
            padding: 2.4rem 0;
        }
    }

    &__text {
        color: #FFFFFF;
        z-index: 1;
        @include mixins.subheader;

        @include mixins.tablet {
            font-weight: 600;
        }
    }

    &__iframe {
        z-index: 1;
        width: 100%;
        overflow: hidden;
        border: none;
        height: 11.5rem;

        @include mixins.tablet {
            width: 40rem;
        }
    }

    &__content {
        z-index: 1;
    }
}
