@use "mixins" as mixins;

.gallery {
    background-color: #FAFAFA;
    @include mixins.section-spacing;

    &__wrapper {
        @include mixins.wrapper;
    }

    &__title {
        @include mixins.title;
    }

    &__images {
        @include mixins.tablet {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.6rem;
        }
    }

    &__image {
        width: 100%;
        height: 100%;

        filter: grayscale(1);
        transition: filter 250ms linear;

        &:hover {
            filter: grayscale(0);
        }

        @include mixins.tablet {
            padding-bottom: 0;
        }
    }
}
