@use "variables" as variables;
@use "mixins" as mixins;

.header {
    background-color: variables.$color-bg-dark;


    @include mixins.tablet {
        height: 8rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        @include mixins.wrapper;
        padding: 1.6rem 0 0 0;
    }

    &__logo {
        width: 12rem;
        height: 2rem;
        margin: 0 auto;

        @include mixins.tablet {
            height: 100%;
            margin: 0 1.6rem 0 0;
            display: flex;
            align-items: center;
        }

    }

}

.navigation {
    font-size: 1.3rem;
    line-height: 1.8rem;

    @include mixins.tablet {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    &__items {
        display: flex;
        height: 100%;
    }

    &__item {
        flex: 1;
    }

    &__link {
        color: variables.$color-inactive-link;
        padding: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;


        @include mixins.tablet {
            margin-left: 1.6rem;

        }

        &:hover {
            border-bottom: 2px solid #FFFFFF;
            color: #FFFFFF;
            font-weight: 600;
        }

        &--active {
            color: #FFFFFF;
            border-bottom: 2px solid #FFFFFF;
            font-weight: 600;

        }
    }



}