@use "mixins" as mixins;

.header {
    background-color: #323232;

    @include mixins.tablet {
        height: 8rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        @include mixins.wrapper;
        padding: 1.6rem 0 0 0;

        @include mixins.tablet {
            flex-direction: row;
        }
    }

    &__logo {
        width: 12rem;
        height: 2rem;
        margin: 0 auto;

        @include mixins.tablet {
            height: 100%;
            margin: 0 1.6rem 0 0;
            display: flex;
            align-items: center;
        }
    }
}

.navigation {
    font-size: 1.3rem;
    line-height: 1.8rem;

    @include mixins.tablet {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    &__items {
        display: flex;
        height: 100%;
    }

    &__item {
        flex: 1;
    }

    &__link {
        color: #E1E1E1;
        padding: 1.6rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-bottom: 3px solid transparent;

        @include mixins.tablet {
            margin-left: 3.2rem;
            margin-right: 1.6rem;
        }

        &:hover {
            color: #FFFFFF;
            border-bottom: 3px solid #FFFFFF;
        }

        &--active {
            color: #FFFFFF;
            border-bottom: 3px solid #FFFFFF;
            font-weight: 600;
        }
    }
}
