@use "partials/reset" as *;
@use "partials/fonts" as *;
@use "partials/mixins" as mixins;
@use "partials/header" as *;
@use "partials/footer" as *;


body {
    font-family: "Avenir Next"
}

.banner {
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: center center;
    background-size: cover;
    height: 19rem;
    position: relative;

    @include mixins.tablet {
        height: 45rem;
    }

    @include mixins.desktop {
        height: 63rem;
        background-position: center 20%;
    }

    &::after {
        content: '';
        background-color: #323232;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        background-size: cover;
    }

    &__wrapper {
        display: flex;
        align-items: center;

        @include mixins.wrapper;
    }

    &__content {
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: 600;
        color: #FFFFFF;
        margin: 0;
        z-index: 1;

        @include mixins.tablet {
            font-size: 6rem;
            line-height: 6.8rem;
        }
    }
}

.about {
    @include mixins.section-spacing;

    &__wrapper {
        @include mixins.wrapper;
    }

    &__title {
        @include mixins.title;
    }

    &__subheader {
        font-size: 1.4rem;
        line-height: 2.2rem;
        font-weight: 600;
        padding: 1.6rem 0;

        @include mixins.tablet {
            font-size: 2.4rem;
            line-height: 3.2rem;
            padding: 3.6rem 0 1.6rem 0;
        }
    }

    &__columns {

        @include mixins.tablet {
            display: flex;
            flex-direction: row;
        }
    }

    &__text {
        @include mixins.text;

        &+& {
            @include mixins.tablet {
                margin-left: 3.6rem;
            }
        }

    }
}

.intro {
    &__image {
        height: 100%;
        width: 100%;
    }

    &__quote {
        padding-top: 1.6rem;

        @include mixins.tablet {
            padding-top: 3.6rem;
        }
    }

    &__text {
        line-height: 2.2rem;
        font-size: 1.4rem;
        font-weight: 600;

        @include mixins.tablet {
            line-height: 3.2rem;
            font-size: 2.4rem;
        }
    }

    &__author {
        font-size: 1.4rem;
        line-height: 2.2rem;
        font-weight: 600;
        padding-top: 1.6rem;
    }
}

.gallery {
    background-color: #FAFAFA;
    @include mixins.section-spacing;

    &__wrapper {
        @include mixins.wrapper;
    }

    &__title {
        @include mixins.title;
    }

    &__images {
        @include mixins.tablet {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.6rem;
        }
    }

    &__image {
        width: 100%;
        height: 100%;

        filter: grayscale(1);
        transition: filter 250ms linear;

        &:hover {
            filter: grayscale(0);
        }

        @include mixins.tablet {
            padding-bottom: 0;
        }
    }
}