html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
.header {
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .header {
    height: 8rem;
  }
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding: 1.6rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    padding: 0 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__wrapper {
    margin: 0 auto;
    width: 128rem;
  }
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    flex-direction: row;
  }
}
.header__logo {
  width: 12rem;
  height: 2rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header__logo {
    height: 100%;
    margin: 0 1.6rem 0 0;
    display: flex;
    align-items: center;
  }
}

.navigation {
  font-size: 1.3rem;
  line-height: 1.8rem;
}
@media screen and (min-width: 768px) {
  .navigation {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
.navigation__items {
  display: flex;
  height: 100%;
}
.navigation__item {
  flex: 1;
}
.navigation__link {
  color: #E1E1E1;
  padding: 1.6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-bottom: 3px solid transparent;
}
@media screen and (min-width: 768px) {
  .navigation__link {
    margin-left: 3.2rem;
    margin-right: 1.6rem;
  }
}
.navigation__link:hover {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}
.navigation__link--active {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
  font-weight: 600;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 2.4rem 0 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 4.8rem 0 3.6rem 0;
  }
}
.footer__wrapper {
  height: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    padding: 0 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__wrapper {
    margin: 0 auto;
    width: 128rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "social-title social-icons logo" "employee employee employee" "copyright copyright copyright";
  }
}
@media screen and (min-width: 1280px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "social-title social-icons social-icons logo" "employee employee employee employee" "copyright copyright copyright copyright";
  }
}
.footer__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
  padding-bottom: 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    padding-bottom: 3.6rem;
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    padding-bottom: 0;
    grid-area: social-title;
  }
}
.footer__icons {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    grid-area: social-icons;
  }
}
.footer__icon {
  width: 3rem;
  height: 3rem;
  transition: filter 250ms linear;
}
.footer__icon:hover {
  filter: invert(28%) sepia(26%) saturate(4032%) hue-rotate(282deg) brightness(84%) contrast(85%);
}
.footer__icon-link + .footer__icon-link {
  margin-left: 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer__icon-link + .footer__icon-link {
    margin-left: 3.6rem;
  }
}
.footer__logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  padding-top: 4.8rem;
  width: 12rem;
  height: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding-top: 0;
    height: 100%;
  }
}
.footer__copyright {
  grid-area: copyright;
  margin-top: 2.4rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-top: 4.8rem;
  }
}

.employee {
  font-size: 1.3rem;
  line-height: 1.8rem;
}
@media screen and (min-width: 768px) {
  .employee {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
.employee__content {
  margin: 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .employee__content {
    margin: 3.6rem 0;
  }
}
.employee__name {
  font-weight: 600;
}
.employee__position {
  font-weight: 600;
}

.cta-button {
  background-color: #323232;
  color: #FFF;
  height: 4rem;
  border-radius: 4px;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 600;
  transition: background-color 250ms linear;
}
@media screen and (min-width: 768px) {
  .cta-button {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
.cta-button:hover {
  background-color: #000;
}
@media screen and (min-width: 768px) {
  .cta-button {
    min-width: 15rem;
    padding: 0 3.2rem;
    width: auto;
  }
}

.banner {
  background-position: center center;
  background-size: cover;
  height: 20rem;
  position: relative;
  background-image: url(../assets/images/hero-bio.jpg);
}
.banner--shows {
  background-image: url(../assets/images/hero-shows.jpg);
  padding: 2.4rem 0 1.6rem 0;
  height: 30rem;
}
@media screen and (min-width: 768px) {
  .banner--shows {
    padding: 4.8rem 0 3.6rem 0;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    height: 45rem;
  }
}
@media screen and (min-width: 1280px) {
  .banner {
    height: 63rem;
    background-position: center 20%;
  }
}
.banner::after {
  content: "";
  background-color: #323232;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  background-size: cover;
}
.banner__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
@media screen and (min-width: 768px) {
  .banner__wrapper {
    padding: 0 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .banner__wrapper {
    margin: 0 auto;
    width: 128rem;
  }
}
.banner__wrapper--shows {
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 1280px) {
  .banner__wrapper--shows {
    flex-direction: row;
    align-items: center;
  }
}
.banner__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
  color: #FFFFFF;
  margin: 0;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .banner__title {
    font-size: 6rem;
    line-height: 6.8rem;
  }
}
.banner__title--shows {
  width: 80%;
  padding: 2.4rem 0;
}
.banner__text {
  color: #FFFFFF;
  z-index: 1;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .banner__text {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
.banner__iframe {
  z-index: 1;
  width: 100%;
  overflow: hidden;
  border: none;
  height: 11.5rem;
}
@media screen and (min-width: 768px) {
  .banner__iframe {
    width: 40rem;
  }
}
.banner__content {
  z-index: 1;
}

.about {
  padding: 2.4rem 0 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 4.8rem 0 3.6rem 0;
  }
}
.about__wrapper {
  height: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
@media screen and (min-width: 768px) {
  .about__wrapper {
    padding: 0 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__wrapper {
    margin: 0 auto;
    width: 128rem;
  }
}
.about__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
  padding-bottom: 1.6rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    padding-bottom: 3.6rem;
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
}
.about__subheader {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 600;
  padding: 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .about__subheader {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
@media screen and (min-width: 768px) {
  .about__subheader {
    padding: 3.6rem 0 1.6rem 0;
  }
}
@media screen and (min-width: 768px) {
  .about__columns {
    display: flex;
    flex-direction: row;
  }
}
.about__text {
  font-size: 1.3rem;
  line-height: 1.8rem;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  .about__text + .about__text {
    margin-left: 3.6rem;
  }
}

.intro__image {
  height: 100%;
  width: 100%;
}
.intro__quote {
  padding-top: 1.6rem;
}
@media screen and (min-width: 768px) {
  .intro__quote {
    padding-top: 3.6rem;
  }
}
.intro__text {
  line-height: 2.2rem;
  font-size: 1.4rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .intro__text {
    line-height: 3.2rem;
    font-size: 2.4rem;
  }
}
.intro__author {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 600;
  padding-top: 1.6rem;
}

.gallery {
  background-color: #FAFAFA;
  padding: 2.4rem 0 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 4.8rem 0 3.6rem 0;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-bottom: 2rem;
  }
}
.gallery__wrapper {
  height: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
@media screen and (min-width: 768px) {
  .gallery__wrapper {
    padding: 0 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__wrapper {
    margin: 0 auto;
    width: 128rem;
  }
}
.gallery__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
  padding-bottom: 1.6rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    padding-bottom: 3.6rem;
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.gallery__image {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  transition: filter 250ms linear;
}
.gallery__image:hover {
  filter: grayscale(0);
}
@media screen and (min-width: 768px) {
  .gallery__image {
    padding-bottom: 0;
    width: calc(33.3333333333% - 1.0666666667rem);
    margin-bottom: 1.6rem;
  }
}

.conversation {
  padding: 2.4rem 0 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .conversation {
    padding: 4.8rem 0 3.6rem 0;
  }
}
.conversation__wrapper {
  height: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
@media screen and (min-width: 768px) {
  .conversation__wrapper {
    padding: 0 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .conversation__wrapper {
    margin: 0 auto;
    width: 128rem;
  }
}
.conversation__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
  padding-bottom: 1.6rem;
}
@media screen and (min-width: 768px) {
  .conversation__title {
    padding-bottom: 3.6rem;
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
}
.conversation__form {
  display: flex;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .conversation__form {
    width: 58rem;
    margin: 0 auto;
  }
}
.conversation__avatar {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  margin-right: 1.6rem;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #E1E1E1;
  flex: 0 0 auto;
}
@media screen and (min-width: 768px) {
  .conversation__avatar {
    height: 4.8rem;
    width: 4.8rem;
  }
}
.conversation__avatar--photo {
  margin-top: 2.4rem;
}
.conversation__controls {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.conversation__control {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 600;
  color: #AFAFAF;
  text-transform: uppercase;
  font-family: inherit;
}
@media screen and (min-width: 768px) {
  .conversation__control {
    font-size: 1.2rem;
  }
}
.conversation__control--area {
  margin-top: 1.6rem;
  resize: none;
}
@media screen and (min-width: 768px) {
  .conversation__control--area {
    margin-top: 3.6rem;
  }
}
.conversation__input {
  min-height: 3.6rem;
  width: 100%;
  border-radius: 4px;
  padding: 1.2rem;
  margin-top: 0.4rem;
  border: 1px solid #E1E1E1;
  font-family: inherit;
}
.conversation__input:focus {
  border: 1px solid #000;
}
.conversation__input--area {
  resize: none;
  height: 12rem;
}
.conversation__input--error {
  border: 1px solid #D22D2D;
}
.conversation__input::-moz-placeholder {
  color: #000;
}
.conversation__input:-ms-input-placeholder {
  color: #000;
}
.conversation__input::placeholder {
  color: #000;
}
@media screen and (min-width: 768px) {
  .conversation__input {
    padding: 1.6rem;
    min-height: 4.8rem;
  }
}
.conversation__submit {
  margin-top: 1.6rem;
}
@media screen and (min-width: 768px) {
  .conversation__submit {
    margin-top: 3.6rem;
    align-self: flex-end;
  }
}
.conversation__comments {
  padding: 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .conversation__comments {
    width: 58rem;
    margin: 0 auto;
  }
}
.conversation__comment {
  font-size: 1.3rem;
  line-height: 1.8rem;
  display: flex;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .conversation__comment {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
.conversation__comment + .conversation__comment {
  margin-top: 1.6rem;
}
.conversation__content {
  flex: 1;
}
.conversation__name {
  font-weight: 600;
}
.conversation__top {
  display: flex;
  justify-content: space-between;
}
.conversation__date {
  color: #AFAFAF;
}
.conversation__text {
  margin-top: 1.6rem;
}
.conversation__actions {
  display: flex;
  justify-content: space-between;
}
.conversation__delete {
  border: none;
  background-color: transparent;
  background-image: url(../../assets/icons/SVG/icon-delete.svg);
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.like__btn {
  border: none;
  background-color: transparent;
  background-image: url(../../assets/icons/SVG/icon-like.svg);
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.shows {
  padding: 2.4rem 0 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .shows {
    padding: 4.8rem 0 3.6rem 0;
  }
}
.shows__wrapper {
  height: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
@media screen and (min-width: 768px) {
  .shows__wrapper {
    padding: 0 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__wrapper {
    margin: 0 auto;
    width: 128rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__wrapper {
    display: flex;
  }
}
.shows__labels {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__labels {
    display: flex;
    padding: 1.6rem 0;
  }
}
.shows__show {
  margin-left: -1.6rem;
  margin-right: -1.6rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 1.6rem;
  transition: background-color 250ms linear;
  cursor: pointer;
}
.shows__show:hover {
  background-color: #FAFAFA;
}
.shows__show--selected:hover {
  background-color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .shows__show {
    display: flex;
    padding: 2.4rem 1.8rem;
    align-items: center;
  }
}
.shows__show--selected {
  background-color: #E1E1E1;
}
.shows__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
  padding-bottom: 1.6rem;
}
@media screen and (min-width: 768px) {
  .shows__title {
    padding-bottom: 3.6rem;
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title {
    width: 20%;
  }
}
@media screen and (min-width: 1280px) {
  .shows__schedule {
    width: 80%;
  }
}
.shows__label {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 600;
  color: #AFAFAF;
  text-transform: uppercase;
  font-family: inherit;
}
@media screen and (min-width: 768px) {
  .shows__label {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__label {
    display: none;
  }
  .shows__label--tablet {
    display: block;
    width: 25%;
  }
}
.shows__text {
  font-size: 1.3rem;
  line-height: 1.8rem;
}
@media screen and (min-width: 768px) {
  .shows__text {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__text {
    padding-right: 1.6rem;
  }
}
.shows__text--date {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .shows__text--date {
    width: 25%;
  }
}
@media screen and (min-width: 768px) {
  .shows__text--venue {
    width: 25%;
  }
}
@media screen and (min-width: 768px) {
  .shows__text--location {
    width: 25%;
  }
}
.shows__buy {
  width: 100%;
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .shows__buy {
    width: 25%;
    margin-top: 0;
  }
}/*# sourceMappingURL=bio.css.map */